<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="noindex,nofollow">
		<title>パスワードのリセット | LiveInterpreting</title>
		<link rel="stylesheet" href="/st/css/master.css">
		<style>
			.button {
				font-size: 150%;
				width: 300px;
			}

			#passUnmatch {
				color: red;
				animation-duration: 400ms;
				animation-timing-function: ease;
			}

			@keyframes vibe {
				0% {
					margin-right: 10px;
					margin-left: 0;
				}

				33% {
					margin-right: 0;
					margin-left: 10px;
				}

				66% {
					margin-right: 10px;
					margin-left: 0;
				}

				100% {
					margin-right: 0;
					margin-left: 0;
				}
			}
		</style>
	</head>
	<body>
		<header class="page-header">
			<div class="service-title">Live Interpreting</div>
		</header>
		<main>
			<div id="content">
				<form name="fm" onsubmit="update(); return false;">
					<h1>新しいパスワードを入力してください</h1>
					<p>8文字～16文字で、半角英数で入力してください</p>
					<div class="field">
						<input type="password" name="pass" class="input" minlength="8" maxlength="16" pattern="^[0-9A-Za-z]+$" required>
						<lavel class="input-label">パスワード</lavel>
					</div>
					<div class="field">
						<input type="password" name="pass2" class="input" minlength="8" maxlength="16" pattern="^[0-9A-Za-z]+$" required>
						<lavel class="input-label">確認用にもう一回</lavel>
					</div>
					<label id="passUnmatch"></label>
					<input type="submit" style="display: none;" name="sub">
				</form>
				<button class="button" onclick="document.fm.sub.click()">決定</button>
				<p id="resultMsg"></p>
			</div>
		</main>
		<footer class="page-footer">
			<label>© 2020 Live InterPreting - Powered by OTFT</label>
		</footer>
		<script src="/st/js/master.js"></script>
		<script>
			function update() {
				if (document.fm.pass.value != document.fm.pass2.value) {
					passUnmatch.innerText = "パスワードが一致しません！";
					passUnmatch.style.animationName = "vibe";
					setTimeout(() => {
						passUnmatch.style.animationName = "none";
					}, 400);
				} else {
					passUnmatch.innerText = "";
					var data = new FormData(document.fm);
					fetch('/Account/passreset/', {
						method: "put",
						body: data
					}).then(res => {
						if (res.status == 200)
							return res.json();
						else
							return false;
					}).then(result => {
						if (result) {
							resultMsg.innerText = "パスワードを設定しました。";
							setTimeout(() => {
								location = "/u/{{ .Id }}";
							}, 2000);
						} else {
							resultMsg.innerText = "失敗";
							alert('パスワードの設定に失敗しました。');
						}
					});
				}
			}
		</script>
	</body>
</html>