<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="noindex,nofollow">
		<title>翻訳者を探す | Live interpreting</title>
		<link rel="stylesheet" href="/st/css/master.css">
		<style>
			.account {
				display: inline-block;
				width: 150px;
				border-radius: 15px 15px 0 0;
				margin: 5px;
				color: white;
				cursor: pointer;
			}

			.iconDisp {
				position: relative;
				display: block;
				width: 75px;
				height: 75px;
				margin: 5px auto 0 auto;
				border-radius: 5px;
				background-size: cover;
				background-position: center;
			}

			.selectBox {
				display: inline-block;
				border: solid 2px lightgray;
				border-radius: 10px;
				width: 100%;
				transition: all 200ms 0ms ease;
				height: 0px;
				overflow: hidden;
				padding: 0;
				box-sizing: border-box;
				opacity: 0;
			}

			#langs label {
				display: block;
			}

			#searchBtn {
				background-color: var(--color1);
				color: white;
				overflow: hidden;
				white-space: nowrap;
				padding: 10px 20px;
				width: auto;
				margin: 10px;
			}
		</style>
	</head>
	<body>
		<script src="/st/js/header.js"></script>
		<script>
			var p = document.createElement("p");
			p.setAttribute("class", "page-header__username");
			{{ if ne .Login.Id -1 }}
			p.innerHTML = "ログイン: <span style=\"font-weight: bold;\">{{.Login.Name}}</span>";
			{{ end }}
			appendHeader(p);
		</script>
		<main>
			<div id="sidemenu">
				<div onclick="location = '/home/'">ホーム</div>
				{{ if ne .Login.Id -1 }}
				<div onclick="location = '/inbox/'"><span>受信BOX</div>
				<div onclick="location = '/mypage/'"><span>マイページ</span></div>
				<div onclick="location = '/mypage/follows/'"><span>フォロー</span></div>
				<div onclick="location = '/mypage/lives/'"><span>配信登録</span></div>
				{{ end }}
				<div onclick="location = '/search/'" class="selected"><span>翻訳者を探す</span></div>
				{{ if ne .Login.Id -1 }}
				<div onclick="logout()"><span>ログアウト</span></div>
				{{ else }}
				<div onclick="location = '/st/login/'"><span>ログイン</span></div>
				{{ end }}
			</div>
			<div id="content">
				<div style="text-align: right;">
					<button class="button" onclick="openLangs()">言語を選択</button>
					<button class="button" onclick="openSort()">並び替え</button>
					<button class="button" onclick="search()" id="searchBtn">検索する</button>
					<div style="padding: 0 10px;">
						<div id="langs" class="selectBox" data-opened="false"></div>
						<div id="sort" class="selectBox" data-opened="false">
							<label>おすすめ順<input type="radio" name="sort" value="major" checked></label>
							<label>登録日時<input type="radio" name="sort" value="created_at"></label>
							<label>ログイン日時<input type="radio" name="sort" value="last_logined"></label>
						</div>
					</div>
				</div>
				<div id="users"></div>
			</div>
		</main>
		<footer class="page-footer">
			<label><script>footerText();</script></label>
		</footer>
		<script src="/st/js/master.js"></script>
		<script>
			get('/Lang/').then(list => {
				document.getElementById('langs').innerHTML = "";
				Array.from(list).forEach(l => {
					let lbl = document.createElement("label");
					lbl.innerText = l.lang;
					lbl.setAttribute("class", "lang");
					langs.appendChild(lbl);

					let chk = document.createElement("input");
					chk.setAttribute("type", "checkbox");
					chk.setAttribute("name", "lang");
					chk.value = l.id;
					lbl.appendChild(chk);
				});
			});

			function openLangs() {
				let langs = document.getElementById('langs');
				if (langs.getAttribute('data-opened') == "false") {
					langs.setAttribute('data-opened', true);
					langs.style.height = '200px';
					langs.style.overflow = 'auto';
					langs.style.padding = '10px';
					langs.style.opacity = '1';
				} else {
					langs.setAttribute('data-opened', false);
					langs.removeAttribute('style');
				}
			}

			function openSort() {
				let st = document.getElementById('sort');
				if (st.getAttribute('data-opened') == "false") {
					st.setAttribute('data-opened', true);
					st.style.height = '50px';
					st.style.overflow = 'auto';
					st.style.padding = '10px';
					st.style.opacity = '1';
				} else {
					st.setAttribute('data-opened', false);
					st.removeAttribute('style');
				}
			}

			function search() {
				let checks = Array.from(document.querySelectorAll('input[name="lang"]')).filter(l => l.checked);
				if (checks.length == 0) return;
				let langs = checks.map(l => l.value).join(',');
				document.getElementById('users').innerHTML = '';
				get('/Account/Search?langs=' + langs  + "&sort=" + document.querySelector('input[name="sort"]:checked').value)
				.then(accounts => {
					Array.from(accounts).forEach(ac => {
						document.getElementById('users').appendChild(createAccount(ac));
					});
				});
			}

			function createAccount(ac) {
				let acbox = document.createElement("div");
				acbox.setAttribute("class", "account");
				if (ac.user_type == "influencer") {
					acbox.style.backgroundColor = "var(--color1)";
				} else {
					acbox.style.backgroundColor = "var(--color2)";
				}

				let iconDisp = document.createElement("div");
				iconDisp.setAttribute("class", "iconDisp");
				iconDisp.style.backgroundImage = "url('/Account/img/" + ac.id + "')";
				acbox.appendChild(iconDisp);

				let namelabel = document.createElement("div");
				namelabel.innerText = ac.name;
				acbox.appendChild(namelabel);

				let datelabel = document.createElement("label");
				datelabel.style.fontSize = "80%";
				datelabel.innerText = ac.created_at;
				acbox.appendChild(datelabel);

				acbox.addEventListener('click', () => {
					location = "/u/" + ac.id;
				});

				return acbox;
			}
		</script>
	</body>
</html>