<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="noindex,nofollow">
		<title>{{.Account.Name}}さん | Live interpreting</title>
		<link rel="stylesheet" href="/st/css/master.css">
		<link rel="stylesheet" href="/st/css/user.css">
		<link rel="stylesheet" href="/st/css/report.css">
		<style>
			#iconDisp {
				background-image: url('/Account/img/{{.Account.Id}}');
			}
			@keyframes msgopen {
				0% {
					width: 0;
				}
				100% {
					width: 500px;
				}
			}
		</style>
	</head>
	<body>
		<script>
			users = JSON.parse("{{ .Message }}");
		</script>
		<script src="/st/js/header.js"></script>
		<script>
			var p = document.createElement("p");
			p.setAttribute("class", "page-header__username");
			{{ if ne .Login.Id -1 }}
			var a = document.createElement('a');
			a.href = '/mypage/';
			a.innerHTML = "ログイン: <span style=\"font-weight: bold;\">{{.Login.Name}}</span>";
			p.appendChild(a);
			{{ end }}
			appendHeader(p);
		</script>
		<main>
			<div id="sidemenu">
				<div onclick="location = '/home/'"><span>ホーム</span></div>
				{{ if ne .Login.Id -1 }}
				<div onclick="location = '/inbox/'"><span>受信BOX</span></div>
				<div onclick="location = '/mypage/'"><span>マイページ</span></div>
				<div onclick="location = '/mypage/follows/'"><span>フォロー</span></div>
				<div onclick="location = '/mypage/lives/'"><span>配信登録</span></div>
				{{ end }}
				<div onclick="location = '/search/'"><span>通訳者を探す</span></div>
				{{ if ne .Login.Id -1 }}
				<div onclick="logout()"><span>ログアウト</span></div>
				{{ else }}
				<div onclick="location = '/st/login/'"><span>ログイン</span></div>
				{{ end }}
			</div>
			<div id="content">
				<header id="accountinfo">
					<div id="iconDisp"></div>
					<div style="width: calc(100% - 130px);">
						<div style="font-size: 120%; font-weight: bold;">{{.Account.Name}}</div>
						<span>性別: {{ if eq .Account.Sex 0 }}男性{{ else if eq .Account.Sex 1 }}女性{{ else }}その他{{ end }}</span><br>
						<span>{{ if eq .Account.UserType "influencer" }}配信者{{ else }}通訳者{{end}}</span><br>
						<span><script>let createdAt = new Date('{{.Account.CreatedAt}}'); document.write(createdAt.getFullYear() + '年 ' + (createdAt.getMonth() + 1) + '月 ' + createdAt.getDate() + '日');</script>に登録</span>
					</div>
					<div style="width: 100%;"><pre style="white-space: normal;">{{.Account.Description}}</pre></div>
					<div style="width: 100%;">
						{{ if ne .Account.Url1 "" }}<p><a href="{{ .Account.Url1 }}" target="_blank" rel="noopener noreferrer">{{ .Account.Url1 }}</a></p>{{ end }}
						{{ if ne .Account.Url2 "" }}<p><a href="{{ .Account.Url2 }}" target="_blank" rel="noopener noreferrer">{{ .Account.Url2 }}</a></p>{{ end }}
						{{ if ne .Account.Url3 "" }}<p><a href="{{ .Account.Url3 }}" target="_blank" rel="noopener noreferrer">{{ .Account.Url3 }}</a></p>{{ end }}
					</div>
					{{ if ne (len .Account.Langs) 0 }}
						<p>使用出来る言語: </p>
						<p>
						{{ range .Account.Langs }}
						{{ .Lang }}<br>
						{{ end }}
					</p>{{ end }}
				</header>
				<div style="width: 100%; text-align: right;">
					{{ if ne .Login.Id -1 }}
					{{ if and (ne .Login.Id .Account.Id) (.IsFollower) }}
					<span>フォローされています</span>
					{{ end }}
					{{ if ne .Login.Id .Account.Id }}
						{{ if .IsFollow }}
					<button class="button mainbutton" onclick="unfollow(this)">✔フォロー中</button>
						{{ else }}
					<button class="button" onclick="follow(this)">フォロー</button>
						{{ end }}
					<button class="button" onclick="location = '/directmessages/{{ .Account.Id }}';">ダイレクトメッセージを送る</button>
					{{ if eq .Account.UserType "interpreter" }}
					<button class="button" onclick="location = '/trans/req/{{ .Account.Id }}';">見積もり依頼</button>
					{{ end }}
					<button class="button" style="background-color: red; color: white;" onclick="reportuser()">報告</button>
					{{ end }}
					{{ end }}
				</div>
				<div style="width: 100%; text-align: left;">
					{{ if ne (len .Transes) 0 }}
					<h2>取引履歴</h2>
					{{ end }}
					<div id="transList" class="list">
						{{ range .Transes }}
						<article onclick="locationMove(this, '/trans/{{ .Id }}')">
							<header>
								<div>
									<img src="/st/materials/spinner.gif" class="spinner" style="width: 0;">
									<img style="height: 40px; border-radius: 7px;" src="/Account/img/{{ if eq $.Login.Id .From }}{{ .To }}{{ else }}{{ .From }}{{ end }}">
									<h3><label data-userid="{{ .From }}"></label> >> <label data-userid="{{ .To }}"></label></h3>
								</div>
								<span>{{ .RequestDate }}</span>
							</header>
							<main>{{ .RequestTitle }}</main>
						</article>
						{{ end }}
					</div>
				</div>
			</div>
		</main>
		<footer class="page-footer">
			<label><script>footerText();</script></label>
		</footer>
		<script src="/st/js/master.js"></script>
		<script>
			document.querySelectorAll('[data-userid]').forEach(elm => {
				elm.innerText = users.find(u => u.id == elm.getAttribute('data-userid')).name;
			});

			function follow(btn) {
				var data = new FormData();
				data.append("target_id", "{{.Account.Id}}");
				data.append("action", "0");
				fetch('/AccountSocial/', {
					method: "post",
					body: data,
					credentials: "include"
				}).then(res => {
					if (res.status == 200)
						return res.json();
					else
						return false;
				}).then(result => {
					if (result) {
						btn.innerText = "✔フォロー中";
						btn.setAttribute('class', 'button mainbutton');
						btn.setAttribute("onclick", "unfollow(this)");
					} else {
						alert('フォローに失敗しました。');
					}
				});
			}

			function unfollow(btn) {
				var data = new FormData();
				data.append("target_id", "{{.Account.Id}}");
				fetch('/AccountSocial/', {
					method: "delete",
					body: data,
					credentials: "include"
				}).then(res => {
					if (res.status == 200)
						return res.json();
					else
						return false;
				}).then(result => {
					if (result) {
						btn.innerText = "フォロー";
						btn.setAttribute('class', 'button');
						btn.setAttribute("onclick", "follow(this)");
					} else {
						alert('フォロー解除に失敗しました。');
					}
				});
			}

			function locationMove(elm, path) {
				Array.from(document.querySelectorAll('.list article')).forEach(art => {
					if (art != elm) art.setAttribute('class', 'hideright');
					else art.querySelector('.spinner').removeAttribute('style');
				});
				location = path;
			}

			function reportuser() {
				reportbox();
				return;
				let data = new FormData();
				data.append('id', '{{.Account.Id}}');
				data.append('reason', reason);
				post('/Reports/', data)
				.then(res => {
					if (res) {
						msgbox('通報が完了しました');
					} else {
						alert('エラーにより失敗しました');
					}
				}).catch(err => {
					console.error(err);
					alert('エラーにより失敗しました');
				});
			}
			function reportbox() {
				let back = document.createElement('div');
				back.id = 'grayBack';
				back.style.display = 'block';
				back.style.opacity = '1';
				let box = document.createElement('div');
				box.setAttribute('class', 'reportbox');
				back.appendChild(box);
				let p = document.createElement('p');
				p.innerText = '報告する理由を選択してください。';
				box.appendChild(p);
				let msg = document.createElement('div');
				get('/Reports/reason')
				.then(res => {
					res.forEach(reason => {
						let lbl = document.createElement('label');
						msg.appendChild(lbl);
						let radio = document.createElement('input');
						radio.setAttribute('type', 'radio');
						radio.value = reason.id;
						radio.name = 'reason';
						lbl.appendChild(radio);
						let spn = document.createElement('span');
						spn.innerText = reason.reason;
						lbl.appendChild(spn);
					});
				}).catch(err => {
					console.error(err);
					msg.innerText = 'エラー';
				});
				box.appendChild(msg);
				let btns = document.createElement('div');
				box.appendChild(btns);
				let btn = document.createElement('button');
				btn.innerText = 'キャンセル';
				btn.setAttribute('class', 'button');
				btns.appendChild(btn);
				btn.addEventListener('click', e => {
					e.target.parentNode.parentNode.parentNode.remove();
				});
				let send = document.createElement('button');
				send.innerText = '決定';
				send.style.backgroundColor = '#414141';
				send.style.color = 'white';
				send.setAttribute('class', 'button');
				btns.appendChild(send);
				send.addEventListener('click', e => {
					let r = document.querySelector('.reportbox [name="reason"]:checked');
					if (r != null) {
						let rdata = new FormData();
						rdata.append('id', '{{.Account.Id}}');
						rdata.append('reason', r.value);
						post('/Reports/', rdata)
						.then(res => {
							alert('このアカウントの報告が完了しました。');
							e.target.parentNode.parentNode.parentNode.remove();
						}).catch(err => {
							alert('エラーにより失敗しました。');
						});
					}
				});
				document.body.appendChild(back);
			}
			function msgbox(str) {
				let back = document.createElement('div');
				back.style.cssText = `
					display: block;
					position: fixed;
					top: 0;
					left: 0;
					width: 100vw;
					height: 100vh;
				`;
				let box = document.createElement('div');
				box.style.cssText = `
					display: box;
					position: relative;
					background-color: #fafafa;
					border-radius: 15px;
					padding: 20px;
					box-sizing: border-box;
					font-size: 18px;
					margin: 30vh auto;
					width: 0;
					max-width: 90%;
					box-shadow: 1px 1px 10px -5px black;
					animation-name: msgopen;
					animation-duration: 200ms;
					animation-delay: 0;
					animation-timing-function: ease;
					animation-fill-mode: forwards;
				`;
				back.appendChild(box);
				let msg = document.createElement('div');
				msg.innerText = str;
				box.appendChild(msg);
				let btn = document.createElement('button');
				btn.innerText = 'OK';
				btn.setAttribute('class', 'button');
				btn.style.display = 'block';
				btn.style.margin = '10px auto 0 auto';
				box.appendChild(btn);
				btn.addEventListener('click', e => {
					e.target.parentNode.parentNode.remove();
				});
				document.body.appendChild(back);
			}
		</script>
	</body>
</html>