<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="noindex,nofollow">
		<title>クレジットカードの登録・変更 | Live interpreting</title>
		<link rel="stylesheet" href="/st/css/master.css">
		<style>
			.button {
				font-size: 150%;
				width: 300px;
			}

			#passUnmatch {
				color: red;
				animation-duration: 400ms;
				animation-timing-function: ease;
			}

			@keyframes vibe {
				0% {
					margin-right: 10px;
					margin-left: 0;
				}

				33% {
					margin-right: 0;
					margin-left: 10px;
				}

				66% {
					margin-right: 10px;
					margin-left: 0;
				}

				100% {
					margin-right: 0;
					margin-left: 0;
				}
			}
		</style>
	</head>
	<body>
		<script src="/st/js/header.js"></script>
		<main>
			<div id="sidemenu">
				<div onclick="location = '/home/'"><span>ホーム</span></div>
				<div onclick="location = '/inbox/'"><span>受信BOX</span></div>
				<div onclick="location = '/mypage/'"><span>マイページ</span></div>
				<div onclick="location = '/mypage/follows/'"><span>フォロー</span></div>
				<div onclick="location = '/mypage/lives/'"><span>配信登録</span></div>
				<div onclick="location = '/search/'"><span>翻訳者を探す</span></div>
				<div onclick="logout()"><span>ログアウト</span></div>
			</div>
			<div id="content">
				<form name="fm" onsubmit="update(); return false;">
					<h1></h1>
					<p></p>
					<div class="field">
						<input type="password" name="pass" class="input" minlength="8" maxlength="16" pattern="^[0-9A-Za-z]+$" required>
						<lavel class="input-label">パスワード</lavel>
					</div>
					<div class="field">
						<input type="password" name="pass2" class="input" minlength="8" maxlength="16" pattern="^[0-9A-Za-z]+$" required>
						<lavel class="input-label">確認用にもう一回</lavel>
					</div>
					<label id="passUnmatch"></label>
					<input type="submit" style="display: none;" name="sub">
				</form>
				<p style="text-align: center;">
					<button class="button" onclick="document.fm.sub.click()" id="btn">決定</button>
				</p>
				<p id="resultMsg"></p>
			</div>
		</main>
		<footer class="page-footer">
			<label><script>footerText();</script></label>
		</footer>
		<script src="/st/js/master.js"></script>
		<script>
		</script>
	</body>
</html>