<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="noindex,nofollow">
		<title>フォロー | Live interpreting</title>
		<link rel="stylesheet" href="/st/css/master.css">
		<link rel="stylesheet" href="/st/css/mark.css">
		<link rel="stylesheet" href="/st/css/user.css">
		<style>
			.account {
				display: inline-block;
				width: 150px;
				border-radius: 15px 15px 0 0;
				margin: 5px;
				color: white;
				cursor: pointer;
			}

			.iconDisp {
				position: relative;
				display: block;
				width: 75px;
				height: 75px;
				margin: 5px auto 0 auto;
				border-radius: 5px;
				background-size: cover;
				background-position: center;
			}
		</style>
	</head>
	<body>
		<script src="/st/js/header.js"></script>
		<script>
			var p = document.createElement("p");
			p.setAttribute("class", "page-header__username");
			{{ if ne .Login.Id -1 }}
			p.innerHTML = "ログイン: <span style=\"font-weight: bold;\">{{.Login.Name}}</span>";
			{{ end }}
			appendHeader(p);
		</script>
		<main>
			<div id="sidemenu">
				<div onclick="location = '/home/'"><span>ホーム</span></div>
				<div onclick="location = '/inbox/'"><span>受信BOX</span></div>
				<div onclick="location = '/mypage/'"><span>マイページ</span></div>
				<div onclick="location = '/mypage/follows/'" class="selected"><span>フォロー</span></div>
				<div onclick="location = '/mypage/lives/'"><span>配信登録</span></div>
				<div onclick="location = '/search/'"><span>通訳者を探す</span></div>
				<div onclick="logout()"><span>ログアウト</span></div>
			</div>
			<div id="content">
				<h1>フォロー</h1>
				<div id="follows"></div>
			</div>
		</main>
		<footer class="page-footer">
			<label><script>footerText();</script></label>
		</footer>
		<script src="/st/js/master.js"></script>
		<script>
			let follows = document.getElementById('follows');
			get('/Account/Search/?search=follow')
			.then(accounts => {
				Array.from(accounts).forEach(ac => {
					follows.appendChild(createAccount(ac));
				});
				if (accounts.length == 0) {
					follows.innerText = "現在フォローしている人はいません";
				}
			});

			function createAccount(ac) {
				let acbox = document.createElement("div");
				acbox.setAttribute("class", "account");
				if (ac.user_type == "influencer") {
					acbox.style.backgroundColor = "var(--color1)";
				} else {
					acbox.style.backgroundColor = "var(--color2)";
				}

				let iconDisp = document.createElement("div");
				iconDisp.setAttribute("class", "iconDisp");
				iconDisp.style.backgroundImage = "url('/Account/img/" + ac.id + "')";
				acbox.appendChild(iconDisp);

				let namelabel = document.createElement("div");
				namelabel.innerText = ac.name;
				acbox.appendChild(namelabel);

				let datelabel = document.createElement("label");
				datelabel.style.fontSize = "80%";
				datelabel.innerText = ac.created_at;
				acbox.appendChild(datelabel);

				acbox.addEventListener('click', () => {
					location = "/u/" + ac.id;
				});

				return acbox;
			}
		</script>
	</body>
</html>