<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="noindex,nofollow">
		<title>{{.Login.Name}}さん | Live interpreting</title>
		<link rel="stylesheet" href="/st/css/master.css">
		<link rel="stylesheet" href="/st/css/user.css">
		<style>
			#iconDisp {
				background-image: url('/Account/img/{{.Login.Id}}');
			}

			#mypageHeader {
				display: flex;
				flex-wrap: nowrap;
				justify-content: space-around;
			}

			#mypageHeader>a {
				display: block;
				position: relative;
				width: 100%;
				height: 34px;
				line-height: 34px;
				border-right: solid 1px lightgray;
				text-decoration: none;
				font-size: 1.2em;
				color: dimgray;
				text-align: center;
			}

			#mypageHeader>a:nth-of-type(4) {
				border-right: none;
			}

			#mypageHeader>a:hover {
				background-color: #fffcf7;
			}
		</style>
	</head>
	<body>
		<script>
			users = JSON.parse("{{ .Message }}");
		</script>
		<script src="/st/js/header.js"></script>
		<script>
			var p = document.createElement("p");
			p.setAttribute("class", "page-header__username");
			{{ if ne .Login.Id -1 }}
			var a = document.createElement('a');
			a.href = '/mypage/';
			a.innerHTML = "ログイン: <span style=\"font-weight: bold;\">{{.Login.Name}}</span>";
			p.appendChild(a);
			{{ end }}
			appendHeader(p);
		</script>
		<main>
			<div id="sidemenu">
				<div onclick="location = '/home/'"><span>ホーム</span></div>
				<div onclick="location = '/inbox/'"><span>受信BOX</span></div>
				<div onclick="location = '/mypage/'" class="selected"><span>マイページ</span></div>
				<div onclick="location = '/mypage/follows/'"><span>フォロー</span></div>
				<div onclick="location = '/mypage/lives/'"><span>配信登録</span></div>
				<div onclick="location = '/search/'"><span>通訳者を探す</span></div>
				<div onclick="logout()"><span>ログアウト</span></div>
			</div>
			<div id="content">
				<header id="accountinfo">
					<div id="iconDisp"></div>
					<div style="width: calc(100% - 130px);">
						<div style="font-size: 120%; font-weight: bold;">{{.Login.Name}}</div>
						<span>性別: {{ if eq .Login.Sex 0 }}男性{{ else if eq .Login.Sex 1 }}女性{{ else }}その他{{ end }}</span><br>
						<span>{{ if eq .Login.UserType "influencer" }}配信者{{ else }}通訳者{{end}}</span><br>
						<span><script>let createdAt = new Date('{{ .Login.CreatedAt }}'); document.write(createdAt.getFullYear() + '年 ' + (createdAt.getMonth() + 1) + '月 ' + createdAt.getDate() + '日');</script>に登録</span>
					</div>
					<div style="width: 100%;"><pre style="white-space: normal;">{{.Login.Description}}</pre></div>
					<div style="width: 100%;">
						{{ if ne .Login.Url1 "" }}<p><a href="{{ .Login.Url1 }}" target="_blank" rel="noopener noreferrer">{{ .Login.Url1 }}</a></p>{{ end }}
						{{ if ne .Login.Url2 "" }}<p><a href="{{ .Login.Url2 }}" target="_blank" rel="noopener noreferrer">{{ .Login.Url2 }}</a></p>{{ end }}
						{{ if ne .Login.Url3 "" }}<p><a href="{{ .Login.Url3 }}" target="_blank" rel="noopener noreferrer">{{ .Login.Url3 }}</a></p>{{ end }}
					</div>
					{{ if ne (len .Login.Langs) 0 }}
						<p>使用出来る言語: </p>
						<p>{{ range .Login.Langs }}
						{{ .Lang }}<br>
						{{ end }}</p>
					{{ end }}
				</header>
				<div id="mypageHeader">
					<a href="/mypage/follows/">フォロー</a>
					<a href="/mypage/followers/">フォロワー</a>
					<a href="/u/{{ .Login.Id }}">自分のユーザーページ</a>
					<a href="/mypage/profile/">プロフィール編集</a>
				</div>
				<div style="width: 100%; text-align: left;">
					<h2>DM履歴</h2>
					<div id="dmList" class="list">
						{{ range .Messages }}
						<article onclick="locationMove(this, '/directmessages/{{ if eq $.Login.Id .From }}{{ .To }}{{ else }}{{ .From }}{{ end }}')">
							<header>
								<div>
									<img src="/st/materials/spinner.gif" class="spinner" style="width: 0;">
									<img src="/Account/img/{{ if eq $.Login.Id .From }}{{ .To }}{{ else }}{{ .From }}{{ end }}">
									<h3><label data-userid="{{ .From }}"></label> >> <label data-userid="{{ .To }}"></label></h3>
								</div>
								<span>{{ .CreatedAt }}</span>
							</header>
							<main>{{ .Message }}</main>
						</article>
						{{ end }}
					</div>
					<h2>進行中の取引</h2>
					<p><a href="/mypage/trans/">完了分も見る</a></p>
					<div id="transList" class="list">
						{{ range .Transes }}
						<article onclick="locationMove(this, '/trans/{{ .Id }}')">
							<header>
								<div>
									<img src="/st/materials/spinner.gif" class="spinner" style="width: 0;">
									<img style="height: 40px; border-radius: 7px;" src="/Account/img/{{ if eq $.Login.Id .From }}{{ .To }}{{ else }}{{ .From }}{{ end }}">
									<h3><label data-userid="{{ .From }}"></label> >> <label data-userid="{{ .To }}"></label></h3>
								</div>
								<span>{{ .RequestDate }}</span>
							</header>
							<main>{{ .RequestTitle }}</main>
						</article>
						{{ end }}
					</div>
				</div>
			</div>
		</main>
		<footer class="page-footer">
			<label><script>footerText();</script></label>
		</footer>
		<script src="/st/js/master.js"></script>
		<script>
			document.querySelectorAll('[data-userid]').forEach(elm => {
				elm.innerText = users.find(u => u.id == elm.getAttribute('data-userid')).name;
			});

			function locationMove(elm, path) {
				Array.from(document.querySelectorAll('.list article')).forEach(art => {
					if (art != elm) art.setAttribute('class', 'hideright');
					else art.querySelector('.spinner').removeAttribute('style');
				});
				location = path;
			}
		</script>
	</body>
</html>