<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="noindex,nofollow">
		<title>{{.Login.Name}}さん | Live interpreting</title>
		<link rel="stylesheet" href="/st/css/master.css">
		<link rel="stylesheet" href="/st/css/user.css">
		<style>
			#iconDisp {
				background-image: url('/Account/img/{{.Login.Id}}');
			}
		</style>
	</head>
	<body>
		<script src="/st/js/header.js"></script>
		<main>
			<div id="sidemenu">
				<div onclick="location = '/home/'">ホーム</div>
				<div onclick="location = '/inbox/'">受信BOX</div>
				<div onclick="location = '/mypage/'" class="selected">マイページ</div>
				<div onclick="location = '/mypage/follows/'">フォロー</div>
				<div onclick="location = '/mypage/lives/'">配信登録</div>
				<div onclick="location = '/search/'">翻訳者を探す</div>
				<div onclick="logout()">ログアウト</div>
			</div>
			<div id="content">
				<header id="accountinfo">
					<div id="iconDisp"></div>
					<div style="width: calc(100% - 130px);">
						<div style="font-size: 120%; font-weight: bold;">{{.Login.Name}}</div>
						<span>性別: {{ if eq .Login.Sex 0 }}男性{{ else if eq .Login.Sex 1 }}女性{{ else }}その他{{ end }}</span><br>
						<span>{{ if eq .Login.UserType "influencer" }}配信者{{ else }}通訳者{{end}}</span><br>
						<span>{{.Login.CreatedAt}}に登録</span>
					</div>
					<div style="width: 100%;"><pre>{{.Login.Description}}</pre></div>
					{{ if ne (len .Login.Langs) 0 }}
						<p>使用出来る言語: </p>
						<p>
						{{ range .Login.Langs }}
						{{ .Lang }}<br>
						{{ end }}
					</p>{{ end }}
				</header>
				<div style="width: 100%; text-align: right;">
					<button class="button" onclick="location = '/mypage/profile/'">プロフィール編集</button></div>
				</div>
			</div>
		</main>
		<footer class="page-footer">
			<label>© 2021 Live interpreting - Powered by OTFT</label>
		</footer>
		<script src="/st/js/master.js"></script>
		<script>
			function follow(btn) {
				var data = new FormData();
				data.append("target_id", "{{.Login.Id}}");
				data.append("action", "0");
				fetch('/AccountSocial/', {
					method: "post",
					body: data,
					credentials: "include"
				}).then(res => {
					if (res.status == 200)
						return res.json();
					else
						return false;
				}).then(result => {
					if (result) {
						btn.innerText = "✔フォロー中";
						btn.style.backgroundColor = "var(--color1)";
						btn.style.color = "white";
						btn.setAttribute("onclick", "unfollow(this)");
					} else {
						alert('フォローに失敗しました。');
					}
				});
			}

			function unfollow(btn) {
				var data = new FormData();
				data.append("target_id", "{{.Login.Id}}");
				fetch('/AccountSocial/', {
					method: "delete",
					body: data,
					credentials: "include"
				}).then(res => {
					if (res.status == 200)
						return res.json();
					else
						return false;
				}).then(result => {
					if (result) {
						btn.innerText = "フォロー";
						btn.removeAttribute("style");
						btn.setAttribute("onclick", "follow(this)");
					} else {
						alert('フォロー解除に失敗しました。');
					}
				});
			}
		</script>
	</body>
</html>