<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="noindex,nofollow">
		<title>配信登録 | Live interpreting</title>
		<link rel="stylesheet" href="/st/css/master.css">
		<link rel="stylesheet" href="/st/css/mark.css">
		<style>
		</style>
	</head>
	<body>
		<script src="/st/js/header.js"></script>
		<script>
			var p = document.createElement("p");
			p.setAttribute("class", "page-header__username");
			{{ if ne .Login.Id -1 }}
			var a = document.createElement('a');
			a.href = '/mypage/';
			var a = document.createElement('a');
			a.href = '/mypage/';
			a.innerHTML = "ログイン: <span style=\"font-weight: bold;\">{{.Login.Name}}</span>";
			p.appendChild(a);
			p.appendChild(a);
			{{ end }}
			appendHeader(p);
		</script>
		<main>
			<div id="sidemenu">
				<div onclick="location = '/home/'"><span>ホーム</span></div>
				<div onclick="location = '/inbox/'"><span>受信BOX</span></div>
				<div onclick="location = '/mypage/'"><span>マイページ</span></div>
				<div onclick="location = '/mypage/follows/'"><span>フォロー</span></div>
				<div onclick="location = '/mypage/lives/'" class="selected"><span>配信登録</span></div>
				<div onclick="location = '/search/'"><span>通訳者を探す</span></div>
				<div onclick="logout()"><span>ログアウト</span></div>
			</div>
			<div id="content">
				<h1>配信登録</h1>
				<p>ここでは、自分のライブ配信の情報を登録しておくことで、トップページに表示して宣伝することができます。</p>
				{{ if or (len .Transes) (ne .Live.Id 0) }}
				<form name="fm" onsubmit="update(); return false;">
					<input type="hidden" name="id" value="{{.Live.Id}}">
					{{ if eq .Live.Id 0 }}
					<div class="field">
						<select name="trans" class="input">
							{{ range .Transes }}
							<option value="{{ .Id }}">{{ .RequestTitle }} ({{ .RequestDate }})</option>
							{{ end }}
						</select>
						<lavel class="input-label">取引</lavel>
					</div>
					{{ else }}
					<input type="hidden" name="trans" value="{{.Live.TransId}}">
					{{ end }}
					<div class="field">
						<input type="text" name="title" class="input" value="{{.Live.Title}}" maxlength="127" placeholder="自由に入力できます" required>
						<lavel class="input-label">配信タイトル</lavel>
					</div>
					<label id="emailexists"></label>
					<div class="field">
						<input type="url" name="url" class="input" placeholder="配信ページなどのURLを入力してください" maxlength="127" value="{{.Live.Url}}">
						<label class="input-label">URL</label>
					</div>
					<div class="field">
						<input type="datetime-local" class="input" name="start" value="{{.Live.Start}}" required>
						<label class="input-label">配信開始</label>
					</div>
					<div class="field">
						<input type="datetime-local" class="input" name="end" value="{{.Live.End}}" required>
						<label class="input-label">配信終了</label>
					</div>
					<div class="field">
						<select name="lang" class="input" required>
							{{ range .User.Langs }}
							<option value="{{ .Id }}" {{ if eq $.Live.LangId .Id }}selected{{ end }}>{{ .Lang }}</option>
							{{ end }}
						</select>
						<label class="input-label">通訳言語</label>
					</div>
					<input type="submit" style="display: none;" name="sub">
				</form>
				<div style="text-align: center;">
					<button class="button" id="btnUpdate" onclick="document.fm.sub.click()">{{ if eq .Live.Id 0 }}登録{{ else }}更新{{ end }}</button>
				</div>
				{{ else }}
				<p>まずは通訳者さんへ見積もり依頼をしましょう！</p>
				<p><a href="/search/">通訳者を探す</a></p>
				<p>既に登録されている配信情報を変更するには、<a href="/mypage/">マイページ</a>から取引ページに移ってください。</p>
				{{ end }}
			</div>
		</main>
		<footer class="page-footer">
			<label><script>footerText();</script></label>
		</footer>
		<script src="/st/js/master.js"></script>
		<script>
			live_data = {{ .Live }};
			object2form(live_data, document.fm);

			function update() {
				let data = new FormData(document.fm);
				formDisabled(document.fm, true);
				post('/Lives/', data)
				.then(() => {
					alert('完了');
					formDisabled(document.fm, false);
				}).catch(err => {
					console.error(err);
					alert('エラーにより失敗しました。');
				});
			}
		</script>
	</body>
</html>