<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="noindex,nofollow">
		<title>配信登録 | Live interpreting</title>
		<link rel="stylesheet" href="/st/css/master.css">
		<style>
		</style>
	</head>
	<body>
		<script src="/st/js/header.js"></script>
		<main>
			<div id="sidemenu">
				<div onclick="location = '/home/'">ホーム</div>
				<div onclick="location = '/inbox/'">受信BOX</div>
				<div onclick="location = '/mypage/'">マイページ</div>
				<div onclick="location = '/mypage/follows/'">フォロー</div>
				<div onclick="location = '/mypage/lives/'" class="selected">配信登録</div>
				<div onclick="location = '/search/'">翻訳者を探す</div>
				<div onclick="logout()">ログアウト</div>
			</div>
			<div id="content">
				<h1>配信登録</h1>
			</div>
		</main>
		<footer class="page-footer">
			<label>© 2021 Live interpreting - Powered by OTFT</label>
		</footer>
		<script src="/st/js/master.js"></script>
		<script>
		</script>
	</body>
</html>