<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="noindex,nofollow">
		<title>全ての取引 | {{.Login.Name}}さん | Live interpreting</title>
		<link rel="stylesheet" href="/st/css/master.css">
		<link rel="stylesheet" href="/st/css/mark.css">
		<link rel="stylesheet" href="/st/css/user.css">
		<style>
			#iconDisp {
				background-image: url('/Account/img/{{.Login.Id}}');
			}
		</style>
	</head>
	<body>
		<script>
			users = JSON.parse("{{ .Message }}");
		</script>
		<script src="/st/js/header.js"></script>
		<script>
			var p = document.createElement("p");
			p.setAttribute("class", "page-header__username");
			{{ if ne .Login.Id -1 }}
			var a = document.createElement('a');
			a.href = '/mypage/';
			a.innerHTML = "ログイン: <span style=\"font-weight: bold;\">{{.Login.Name}}</span>";
			p.appendChild(a);
			{{ end }}
			appendHeader(p);
		</script>
		<main>
			<div id="sidemenu">
				<div onclick="location = '/home/'"><span>ホーム</span></div>
				<div onclick="location = '/inbox/'"><span>受信BOX</span></div>
				<div onclick="location = '/mypage/'" class="selected"><span>マイページ</span></div>
				<div onclick="location = '/mypage/follows/'"><span>フォロー</span></div>
				<div onclick="location = '/mypage/lives/'"><span>配信登録</span></div>
				<div onclick="location = '/search/'"><span>通訳者を探す</span></div>
				<div onclick="logout()"><span>ログアウト</span></div>
			</div>
			<div id="content">
				<h1>全ての取引</h1>
				<div style="width: 100%; text-align: left;">
					<button class="button" onclick="location = '/mypage'">マイページに戻る</button>
				</div>
				<div style="width: 100%; text-align: left;">
					<div id="transList" class="list">
						{{ range .Transes }}
						<article onclick="locationMove(this, '/trans/{{ .Id }}')">
							<header>
								<div>
									<img src="/st/materials/spinner.gif" class="spinner" style="width: 0;">
									<img style="height: 40px; border-radius: 7px;" src="/Account/img/{{ if eq $.Login.Id .From }}{{ .To }}{{ else }}{{ .From }}{{ end }}">
									<h3><label data-userid="{{ .From }}"></label> >> <label data-userid="{{ .To }}"></label></h3>
								</div>
								<span>{{ .RequestDate }}</span>
							</header>
							<main>{{ .RequestTitle }}</main>
						</article>
						{{ end }}
					</div>
				</div>
			</div>
		</main>
		<footer class="page-footer">
			<label><script>footerText();</script></label>
		</footer>
		<script src="/st/js/master.js"></script>
		<script>
			document.querySelectorAll('[data-userid]').forEach(elm => {
				elm.innerText = users.find(u => u.id == elm.getAttribute('data-userid')).name;
			});
			function follow(btn) {
				var data = new FormData();
				data.append("target_id", "{{.Login.Id}}");
				data.append("action", "0");
				fetch('/AccountSocial/', {
					method: "post",
					body: data,
					credentials: "include"
				}).then(res => {
					if (res.status == 200)
						return res.json();
					else
						return false;
				}).then(result => {
					if (result) {
						btn.innerText = "✔フォロー中";
						btn.style.backgroundColor = "var(--color1)";
						btn.style.color = "white";
						btn.setAttribute("onclick", "unfollow(this)");
					} else {
						alert('フォローに失敗しました。');
					}
				});
			}

			function unfollow(btn) {
				var data = new FormData();
				data.append("target_id", "{{.Login.Id}}");
				fetch('/AccountSocial/', {
					method: "delete",
					body: data,
					credentials: "include"
				}).then(res => {
					if (res.status == 200)
						return res.json();
					else
						return false;
				}).then(result => {
					if (result) {
						btn.innerText = "フォロー";
						btn.removeAttribute("style");
						btn.setAttribute("onclick", "follow(this)");
					} else {
						alert('フォロー解除に失敗しました。');
					}
				});
			}

			function locationMove(elm, path) {
				Array.from(document.querySelectorAll('.list article')).forEach(art => {
					if (art != elm) art.setAttribute('class', 'hideright');
					else art.querySelector('.spinner').removeAttribute('style');
				});
				location = path;
			}
		</script>
	</body>
</html>