h1 {
    position: relative;
    padding-left: 65px;
    box-sizing: border-box;
}

h1:before {
    content: '';
    position: absolute;
    background-image: url('/st/materials/mark.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 60px;
    height: 100%;
    top: 0;
    left: 0;
}