<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="noindex,nofollow">
		<title>購入する | Live interpreting</title>
		<link rel="stylesheet" href="/st/css/master.css">
		<link rel="stylesheet" href="/st/css/mark.css">
		<style>
			table {
				width: 90%;
			}

			tr {
				box-shadow: 0 1px 0 gray;
			}

			th {
				background-color: var(--color1);
				color: white;
			}

			td:nth-of-type(1) {
				width: fit-content;
				padding: 4px 10px;
				color: dimgray;
			}

			#buy {
				width: 100%;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<script src="/st/js/header.js"></script>
		<script>
			var p = document.createElement("p");
			p.setAttribute("class", "page-header__username");
			{{ if ne .Login.Id -1 }}
			var a = document.createElement('a');
			a.href = '/mypage/';
			a.innerHTML = "ログイン: <span style=\"font-weight: bold;\">{{.Login.Name}}</span>";
			p.appendChild(a);
			{{ end }}
			appendHeader(p);
		</script>
		<main>
			<div id="sidemenu">
				<div onclick="location = '/home/'"><span>ホーム</span></div>
				<div onclick="location = '/inbox/'"><span>受信BOX</span></div>
				<div onclick="location = '/mypage/'"><span>マイページ</span></div>
				<div onclick="location = '/mypage/follows/'"><span>フォロー</span></div>
				<div onclick="location = '/mypage/lives/'"><span>配信登録</span></div>
				<div onclick="location = '/search/'"><span>通訳者を探す</span></div>
				<div onclick="logout()"><span>ログアウト</span></div>
			</div>
			<div id="content">
				<h1>購入する</h1>
				{{ if eq .Login.StripeCustomer "" }}
				<p style="color: red;">クレジットカードが登録されていません。<br>購入するには<a href="/payment/card/" target="new">こちら</a>からクレジットカードを登録してください。</p>
				{{ end }}
				<p><a id="backtotrans">案件内容に戻る</a></p>
				<p>依頼者: <a id="from"></a></p>
				<p>通訳者: <a id="to"></a></p>
				<table><tbody id="tbl"></tbody></table>
				<div id="buy">
					<button class="button mainbutton"></button>
				</div>
			</div>
		</main>
		<div id="grayBack"></div>
		<footer class="page-footer">
			<label><script>footerText();</script></label>
		</footer>
		<script src="/st/js/master.js"></script>
		<script>
			function appendRow(k, v) {
				let row = document.createElement('tr');
				let td1 = document.createElement('td');
				td1.innerText = k;
				row.appendChild(td1);
				let td2 = document.createElement('td');
				td2.innerText = v;
				row.appendChild(td2);
				document.getElementById('tbl').appendChild(row);
			}
			function appendHeader(text) {
				let row = document.createElement('tr');
				let th = document.createElement('th');
				th.innerText = text;
				th.setAttribute('colspan', '2');
				row.appendChild(th);
				document.getElementById('tbl').appendChild(row);
			}
			let msg = JSON.parse("{{ .Message }}");
			document.getElementById('backtotrans').setAttribute('href', '/trans/' + msg.trans.id);
			document.getElementById('from').innerText = msg.from.name;
			document.getElementById('from').setAttribute('href', '/u/' + msg.from.id);
			document.getElementById('to').innerText = msg.to.name;
			document.getElementById('to').setAttribute('href', '/u/' + msg.to.id);
			appendRow('依頼タイトル', msg.trans.request_title);
			appendRow('配信日時', formatdate(msg.trans.live_start.String) + " ～ " + msg.trans.live_time.Int64 + '分');
			appendRow('通訳言語', msg.langs.find(l => l.id == msg.trans.lang).lang);
			appendRow('通訳形態', ['テキスト', '音声', 'テキストと音声'][msg.trans.request_type]);
			appendRow('見積金額', "￥" + msg.trans.price.Int64.toLocaleString());
			appendRow('見積詳細', msg.trans.response.String);
			{{ if ne .Login.StripeCustomer "" }}
			document.querySelector('#buy button').innerText = msg.trans.price.Int64.toLocaleString() + '円で購入を確定する';
			document.querySelector('#buy button').addEventListener('click', elm => {
				let text = elm.target.innerText;
				let grayBack = document.getElementById('grayBack');
				grayBack.style.display = 'block';
				grayBack.style.opacity = '1';
				elm.target.innerText = '購入処理中';
				elm.target.setAttribute('disabled', '');
				post('/trans/buy/' + msg.trans.id)
				.then(res => {
					grayBack.style.display = 'none';
					grayBack.style.opacity = '0';
					if (res === true) {
						elm.target.innerText = '購入処理が完了しました。';
						location = '/trans/' + msg.trans.id + '?msg=buy';
					} else {
						elm.target.removeAttribute('disabled');
						elm.target.innerText = text;
						alert('失敗しました。');
					}
				}).catch(err => {
					grayBack.style.display = 'none';
					grayBack.style.opacity = '0';
					elm.target.removeAttribute('disabled');
					elm.target.innerText = text;
					console.error(err);
					alert('失敗しました。');
				});
			});
			{{ end }}
		</script>
	</body>
</html>