<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="noindex,nofollow">
		<title>Live interpreting</title>
		<link rel="stylesheet" href="/st/css/master.css">
		<link rel="stylesheet" href="/st/css/mark.css">
		<style>
			table {
				width: 90%;
			}

			tr {
				box-shadow: 0 1px 0 gray;
			}

			th {
				background-color: var(--color1);
				color: white;
			}

			td:nth-of-type(1) {
				width: fit-content;
				padding: 4px 10px;
				color: dimgray;
			}

			#sendEst {
				width: 100%;
				text-align: center;
			}

			form {
				width: 400px;
			}
		</style>
	</head>
	<body>
		<script src="/st/js/header.js"></script>
		<script>
			var p = document.createElement("p");
			p.setAttribute("class", "page-header__username");
			{{ if ne .Login.Id -1 }}
			p.innerHTML = "ログイン: <span style=\"font-weight: bold;\">{{.Login.Name}}</span>";
			{{ end }}
			appendHeader(p);
		</script>
		<main>
			<div id="sidemenu">
				<div onclick="location = '/home/'"><span>ホーム</span></div>
				<div onclick="location = '/inbox/'"><span>受信BOX</span></div>
				<div onclick="location = '/mypage/'"><span>マイページ</span></div>
				<div onclick="location = '/mypage/follows/'"><span>フォロー</span></div>
				<div onclick="location = '/mypage/lives/'"><span>配信登録</span></div>
				<div onclick="location = '/search/'"><span>翻訳者を探す</span></div>
				<div onclick="logout()"><span>ログアウト</span></div>
			</div>
			<div id="content">
				<h1>見積作成</h1>
				<table><tbody id="tbl"></tbody></table>
				<div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
					<form name="fm" onsubmit="sub(); return false;" style="display: none;">
						<div class="field">
							<input type="number" class="input" name="price" required>
							<label class="input-label">見積金額</label>
						</div>
						<div class="field">
							<textarea name="response" class="textarea" required></textarea>
							<label class="input-label">見積詳細</label>
						</div>
						<div style="text-align: center;">
							<button class="button" style="background-color: var(--color1); color: white">見積を送信</button>
						</div>
					</form>
					<form name="fm2" onsubmit="cancelEst(); return false;" style="display: none;">
						<div class="field">
							<textarea name="response" class="textarea" required></textarea>
							<label class="input-label">辞退理由</label>
						</div>
						<div style="text-align: center;">
							<button class="button" style="background-color: var(--color2); color: white">この依頼を辞退する</button>
						</div>
					</form>
				</div>
			</div>
		</main>
		<footer class="page-footer">
			<label><script>footerText();</script></label>
		</footer>
		<script src="/st/js/master.js"></script>
		<script src="/st/js/constant.js"></script>
		<script>
			function appendRow(k, v) {
				let row = document.createElement('tr');
				let td1 = document.createElement('td');
				td1.innerText = k;
				row.appendChild(td1);
				let td2 = document.createElement('td');
				td2.innerText = v;
				row.appendChild(td2);
				document.getElementById('tbl').appendChild(row);
				return row;
			}
			function appendHeader(text) {
				let row = document.createElement('tr');
				let th = document.createElement('th');
				th.innerText = text;
				th.setAttribute('colspan', '2');
				row.appendChild(th);
				document.getElementById('tbl').appendChild(row);
			}
			let msg = JSON.parse("{{ .Message }}");
			document.title = msg.trans.request_title + ' | Live interpreting';
			appendHeader('依頼内容');
			appendRow('依頼タイトル', msg.trans.request_title);
			appendRow('依頼詳細', msg.trans.request);
			appendRow('予算範囲', budget_range[msg.trans.budget_range]);
			appendRow('配信日時', formatdate(msg.trans.live_start.String) + " ～ " + msg.trans.live_time.Int64 + '分');
			appendRow('通訳言語', msg.langs.find(l => l.id == msg.trans.lang).lang);
			appendRow('通訳形態', ['テキスト', '音声', 'テキストと音声'][msg.trans.request_type]);
			let limitTr = appendRow('提案期限', formatdate(msg.trans.estimate_limit_date.String, false));
			if (msg.trans.request_cancel == 0 && !msg.trans.response_type.Valid) {
				let limit = new Date(msg.trans.estimate_limit_date.String);
				if (!msg.trans.estimate_limit_date.Valid) {
					limit = new Date(msg.trans.live_start);
				}
				let nextdate = new Date(limit);
				nextdate.setHours(0);
				nextdate.setMinutes(0);
				nextdate.setSeconds(0);
				nextdate.setMilliseconds(0);
				nextdate.setDate(nextdate.getDate() + 1);
				console.log(nextdate);
				if (new Date() < nextdate) {
					document.fm.removeAttribute('style');
					document.fm2.removeAttribute('style');
				} else {
					document.fm.remove();
					document.fm2.remove();
					limitTr.getElementsByTagName('td')[1].innerHTML += " <span style=\"color: red;\">期限切れ</span>";
				}
			} else {
				document.fm.remove();
			}

			function sub() {
				let data = new FormData(document.fm);
				formDisabled(document.fm, true);
				post('/trans/estimate/' + msg.trans.id, data)
				.then(res => {
					if (res === true) {
						alert('登録成功');
						location = '/u/{{ .User.Id }}';
					} else if (typeof res.id == 'number') {
						location = '/trans/' + res.id + '?msg=est';
					} else {
						formDisabled(document.fm, false);
						console.error(res);
						alert("登録に失敗しました。");
					}
				}).catch(err => {
					formDisabled(document.fm, false);
					console.error(err);
					alert('登録に失敗しました。');
				});
			}

			function cancelEst() {
				let data = new FormData(document.fm2);
				formDisabled(document.fm2, true);
				del('/trans/estimate/' + msg.trans.id, data)
				.then(res => {
					if (res === true) {
						alert('辞退しました。');
						location = '/u/{{ .User.Id }}';
					} else if (typeof res.id == 'number') {
						location = '/trans/' + res.id + '?msg=estcancel';
					} else {
						formDisabled(document.fm2, false);
						console.error(res);
						alert("処理に失敗しました。");
					}
				}).catch(err => {
					formDisabled(document.fm2, false);
					console.error(err);
					alert('処理に失敗しました。');
				});
			}
		</script>
	</body>
</html>