<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="noindex,nofollow">
		<title>Live interpreting</title>
		<link rel="stylesheet" href="/st/css/master.css">
		<link rel="stylesheet" href="/st/css/mark.css">
		<style>
			tr {
				box-shadow: 0 1px 0 gray;
			}

			th {
				background-color: var(--color1);
				color: white;
			}

			td:nth-of-type(1) {
				width: fit-content;
				padding: 4px 10px;
				color: dimgray;
			}

			#sendEst {
				width: 100%;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<script src="/st/js/header.js"></script>
		<main>
			<div id="sidemenu">
				<div onclick="location = '/home/'">ホーム</div>
				<div onclick="location = '/inbox/'">受信BOX</div>
				<div onclick="location = '/mypage/'">マイページ</div>
				<div onclick="location = '/mypage/follows/'">フォロー</div>
				<div onclick="location = '/mypage/lives/'">配信登録</div>
				<div onclick="location = '/search/'">翻訳者を探す</div>
				<div onclick="logout()">ログアウト</div>
			</div>
			<div id="content">
				<h1>案件内容</h1>
				<p id="from"></p>
				<p id="to"></p>
				<table><tbody id="tbl"></tbody></table>
				{{ if eq .User.Id .Login.Id }}
				<div id="sendEst">
					<button class="button">見積を送信する</button>
				</div>
				{{ end }}
			</div>
		</main>
		<footer class="page-footer">
			<label>© 2021 Live interpreting - Powered by OTFT</label>
		</footer>
		<script src="/st/js/master.js"></script>
		<script>
			function appendRow(k, v) {
				let row = document.createElement('tr');
				let td1 = document.createElement('td');
				td1.innerText = k;
				row.appendChild(td1);
				let td2 = document.createElement('td');
				td2.innerText = v;
				row.appendChild(td2);
				document.getElementById('tbl').appendChild(row);
			}
			function appendHeader(text) {
				let row = document.createElement('tr');
				let th = document.createElement('th');
				th.innerText = text;
				th.setAttribute('colspan', '2');
				row.appendChild(th);
				document.getElementById('tbl').appendChild(row);
			}
			function frontZero(s) {
				if ((s - 0) < 10) s = '0' + s;
				return s;
			}
			let msg = JSON.parse("{{ .Message }}");
			document.title = msg.trans.request_title + ' | Live interpreting';
			document.getElementById('from').innerText = '依頼者: ' + msg.from.name;
			document.getElementById('to').innerText = '通訳者: ' + msg.to.name;
			appendHeader('依頼内容');
			appendRow('依頼タイトル', msg.trans.request_title);
			appendRow('依頼詳細', msg.trans.request);
			appendRow('予算範囲', msg.trans.budget_range);
			let livestart = new Date(msg.trans.live_start.String);
			appendRow('配信日時', livestart.getFullYear() + '年 ' +
					(livestart.getMonth() + 1) + '月 ' + livestart.getDate() + '日 ' +
					frontZero(livestart.getHours()) + ':' + frontZero(livestart.getMinutes()) +
					" ～ " + msg.trans.live_time.Int64 + '分程度');
			appendRow('通訳言語', msg.trans.lang);
			appendRow('通訳形態', ['テキスト', '音声', 'テキストと音声'][msg.trans.request_type]);
			appendRow('提案期限', msg.trans.estimate_limit_date.String);
			{{ if eq .User.Id .Login.Id }}
			if (msg.trans.request_cancel == 0 && !msg.trans.response_type.Valid) {
				let limit = new Date(msg.trans.estimate_limit_date.String);
				if (!msg.trans.estimate_limit_date.Valid) {
					limit = new Date(msg.trans.live_start);
				}
				let nextdate = new Date(limit);
				nextdate.setHours(0);
				nextdate.setMinutes(0);
				nextdate.setSeconds(0);
				nextdate.setMilliseconds(0);
				nextdate.setDate(nextdate.getDate() + 1);
				console.log(nextdate);
				if (new Date() < nextdate) {
					document.querySelector('#sendEst button').addEventListener('click', () => {
						location = '/trans/estimate/' + msg.trans.id;
					});
				} else {
					document.querySelector('#sendEst button').innerText = '見積期限切れ';
					document.querySelector('#sendEst button').setAttribute('disabled', '');
				}
			} else {
				document.getElementById('sendEst').remove();
			}
			{{ end }}
			if (msg.trans.estimate_date.Valid && msg.trans.response_type.Valid) {
				appendHeader('見積内容');
				appendRow('見積日時', msg.trans.estimate_date.String);
				if (msg.trans.response_type.Int64 == 0) {
					appendRow('見積金額', "￥" + msg.trans.price.Int64);
					appendRow('見積詳細', msg.trans.response.String);
				} else {
					appendRow('', '見積が辞退されました。');
				}
			}
		</script>
	</body>
</html>