<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="noindex,nofollow">
		<title>見積もり依頼 | Live interpreting</title>
		<link rel="stylesheet" href="/st/css/master.css">
		<link rel="stylesheet" href="/st/css/mark.css">
		<style>
		</style>
	</head>
	<body>
		<script src="/st/js/header.js"></script>
		<script>
			var p = document.createElement("p");
			p.setAttribute("class", "page-header__username");
			{{ if ne .Login.Id -1 }}
			p.innerHTML = "ログイン: <span style=\"font-weight: bold;\">{{.Login.Name}}</span>";
			{{ end }}
			appendHeader(p);
		</script>
		<main>
			<div id="sidemenu">
				<div onclick="location = '/home/'"><span>ホーム</span></div>
				<div onclick="location = '/inbox/'"><span>受信BOX</span></div>
				<div onclick="location = '/mypage/'"><span>マイページ</span></div>
				<div onclick="location = '/mypage/follows/'"><span>フォロー</span></div>
				<div onclick="location = '/mypage/lives/'"><span>配信登録</span></div>
				<div onclick="location = '/search/'"><span>翻訳者を探す</span></div>
				<div onclick="logout()"><span>ログアウト</span></div>
			</div>
			<div id="content">
				<h1>見積り依頼修正</h1>
				<h3>{{ .User.Name }}さんに送った見積もり依頼を変更します。</h3>
				<form name="fm" onsubmit="sub(); return false;">
					<div class="field">
						<input type="datetime-local" class="input" name="live_start" required>
						<label class="input-label">配信日時</label>
					</div>
					<div class="field">
						<input type="time" class="input" name="live_time" value="01:00" required>
						<label class="input-label">配信時間</label>
					</div>
					<div class="field">
						<select name="lang" class="input" required>
							{{ range .User.Langs }}
							<option value="{{ .Id }}">{{ .Lang }}</option>
							{{ end }}
						</select>
						<label class="input-label">通訳言語</label>
					</div>
					<div class="field">
						<div class="textarea" style="height: auto;">
							<label><input type="radio" name="request_type" value="0" checked>テキスト</label>
							<label><input type="radio" name="request_type" value="1">音声</label>
							<label><input type="radio" name="request_type" value="2">両方</label>
						</div>
						<label class="input-label">通訳形態</label>
					</div>
					<div class="field">
						<input type="text" class="input" maxlength="255" name="request_title" required>
						<label class="input-label">依頼タイトル</label>
					</div>
					<div class="field">
						<textarea name="request" class="textarea" required></textarea>
						<label class="input-label">依頼詳細</label>
					</div>
					<div class="field">
						<select name="budget_range" class="input" required>
						</select>
						<label class="input-label">予算範囲</label>
					</div>
					<div class="field">
						<input type="date" class="input" name="estimate_limit_date" required>
						<label class="input-label">提案期限</label>
					</div>
					<div style="text-align: center;">
						<button class="button" style="background-color: var(--color1); color: white">この内容で変更</button>
					</div>
				</form>
				<div style="text-align: center;">
					<button class="button" style="background-color: var(--color2); color: white;" onclick="reqcancel()">この見積り依頼を取り消す</button>
				</div>
			</div>
		</main>
		<footer class="page-footer">
			<label><script>footerText();</script></label>
		</footer>
		<script src="/st/js/master.js"></script>
		<script src="/st/js/constant.js"></script>
		<script>
			budget_range.forEach((br, i) => {
				let opt = document.createElement('option');
				opt.value = i;
				opt.innerText = br;
				document.fm.budget_range.appendChild(opt);
			});

			trans = JSON.parse("{{ .Message }}");
			let lt = trans.live_time.Int64;
			trans.live_time = frontZero(Math.floor(lt / 60)) + ':' + frontZero(lt % 60);
			object2form(trans, document.fm);

			function sub() {
				let data = new FormData(document.fm);
				formDisabled(document.fm, true);
				put('/trans/req/' + trans.id, data)
				.then(res => {
					if (res === true) {
						alert('登録成功');
						location = '/u/{{ .User.Id }}';
					} else if (typeof res.id == 'number') {
						location = '/trans/' + res.id + "?msg=reqedit";
					} else {
						formDisabled(document.fm, false);
						console.error(res);
						alert("変更に失敗しました。");
					}
				}).catch(err => {
					formDisabled(document.fm, false);
					console.error(err);
					alert('変更に失敗しました。');
				});
			}

			function reqcancel() {
				if (!confirm('見積依頼をキャンセルしますか？')) return;
				del('/trans/req/' + trans.id)
				.then(res => {
					if (res === true) {
						alert('キャンセルしました。');
						location = '/home/';
					} else if (typeof res.id == 'number') {
						location = '/trans/' + res.id + "?msg=reqcancel";
					} else {
						console.error(res);
						alert("キャンセルに失敗しました。");
					}
				}).catch(err => {
					console.error(err);
					alert('キャンセルに失敗しました。');
				});
			}
		</script>
	</body>
</html>