<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="noindex,nofollow">
		<title>連携アカウント削除 | Live interpreting</title>
		<link rel="stylesheet" href="/st/css/master.css">
		<link rel="stylesheet" href="/st/css/mark.css">
		<style>
		</style>
	</head>
	<body>
		<script src="/st/js/header.js"></script>
		<script>
			var p = document.createElement("p");
			p.setAttribute("class", "page-header__username");
			{{ if ne .Login.Id -1 }}
			var a = document.createElement('a');
			a.href = '/mypage/';
			a.innerHTML = "ログイン: <span style=\"font-weight: bold;\">{{.Login.Name}}</span>";
			p.appendChild(a);
			{{ end }}
			appendHeader(p);
		</script>
		<main>
			<div id="sidemenu">
				<div onclick="location = '/home/'">ホーム</div>
				{{ if ne .Login.Id -1 }}
				<div onclick="location = '/inbox/'"><span>受信BOX</div>
				<div onclick="location = '/mypage/'"><span>マイページ</span></div>
				<div onclick="location = '/mypage/follows/'"><span>フォロー</span></div>
				<div onclick="location = '/mypage/lives/'"><span>配信登録</span></div>
				{{ end }}
				<div onclick="location = '/search/'"><span>通訳者を探す</span></div>
				{{ if ne .Login.Id -1 }}
				<div onclick="logout()"><span>ログアウト</span></div>
				{{ else }}
				<div onclick="location = '/st/login/'"><span>ログイン</span></div>
				{{ end }}
			</div>
			<div id="content">
				{{ if eq .Login.StripeAccount "" }}
				<p>このアカウントに連携されたStripeアカウントはありません。</p>
				{{ else }}
				<p>このアカウントに連携されたStripeアカウントを削除します。</p>
				<p>この操作は取り消せません。</p>
				<p><button class="button" onclick="delaccount(this)">削除する</button></p>
				<p id="result"></p>
				{{ end }}
				<p><a href="/connect/">振込設定画面に戻る</a></p>
			</div>
		</main>
		<footer class="page-footer">
			<label><script>footerText();</script></label>
		</footer>
		<div id="grayBack"></div>
		<script src="/st/js/master.js"></script>
		<script>
			function delaccount(btn) {
				document.getElementById('grayBack').style.display = 'block';
				document.getElementById('grayBack').style.opacity = '1';
				del('/connect/', null)
				.then(res => {
					document.getElementById('result').innerText = '削除しました。';
					document.getElementById('grayBack').removeAttribute('style');
					btn.remove();
				}).catch(err => {
					console.error(err);
					document.getElementById('result').innerText = 'エラーにより失敗しました。';
					document.getElementById('grayBack').removeAttribute('style');
				});
			}
		</script>
	</body>
</html>